body {
	font-family: 'Lucida Grande', sans-serif;
	color: #666666;
	line-height: 2.0;
	font-weight: lighter;
}

h1 {
	font-size: 60px;
	margin-top: 40px;
}

h2 {
	color: #f07c17;
	font-size: 28px;
	font-weight: bold;
	padding-bottom: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
}

p {
	font-size: 20px;
	padding-right: 10px;
}

.list {
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	padding: 20px;
	padding-top: 0px;
	font-size: 20px;
};
